$main-font: Montserrat, sans-serif;
$content-font: Roboto, sans-serif;
$h3-font: 'Kaushan Script', cursive;

$main-color: #fff;

$icon-color: #95e1d3;

//-----------------------------------------Fuentes de Martina-------------------------------------------

/*@font-face {
    font-family: 'LemonJelly';
    src: url('src/assets/fonts/Lemon Jelly Personal Use.ttf') format('truetype');
    // font-style: normal;
    // font-weight: normal;
}*/

//----------------------------------------------------------------------------------------------------

//-----------------------------------------Colores de Pedro-------------------------------------------

$color1: #FFBE00; 
$color2: #999;

//----------------------------------------------------------------------------------------------------

body {
	margin: 0 auto;
	padding: 0;
	font-size: 16px;
	background: $main-color;

	section {display: block;} 

	h1, h2, h3, h4, h5, h6, ul, li {
		margin: 0;
		padding: 0;
	}

	h1 {
		font-family: $main-font;
		font-weight: 700;
		text-transform: uppercase;
        
	}

	h2 {
		font-family: $main-font;
		font-size: 1.875em;
		font-weight: 700;
		text-transform: uppercase;
	}

	h3 {
		font-family: $h3-font;
		font-size: 1.5em;
		font-weight: 400;
	}

	h4 {
		font-family: $main-font;
		font-size: 0.875em;
		font-weight: 400;
		text-transform: uppercase;
	}

	p {
		line-height: 150%;
		font-family: $content-font;
		font-size: 0.9375em;
		color: #999;
	}
}

