<div class="surface-section mt-5 px-4 py-5 md:px-6 lg:px-8">
    <div class="border-top-1 border-300 pt-3 text-center"><img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2020/11/pokemon-25-logo-2149135.png?itok=n1Sw7mfp" width="70" alt="logo pokemon">
        <ul class="list-none p-0 mx-0 my-5 flex justify-content-center flex-column align-items-center lg:flex-row">
            <li><a class="text-600 cursor-pointer line-height-3 lg:mr-5">Sobre nosotros</a></li>
            <li><a class="text-600 cursor-pointer line-height-3 lg:mr-5">Noticias</a></li>
            <li><a class="text-600 cursor-pointer line-height-3 lg:mr-5">Contactanos</a></li>
            <li><a class="text-600 cursor-pointer line-height-3 lg:mr-5">Sucursales</a></li>
            <li><a class="text-600 cursor-pointer line-height-3">Galeria</a></li>
        </ul>
        <div class="flex align-items-center justify-content-center mb-5"><a
                class="cursor-pointer border-circle bg-bluegray-100 text-bluegray-500 block inline-flex justify-content-center align-items-center mr-5"
                style="width: 2.5rem; height: 2.5rem;"><i class="pi pi-twitter"></i></a><a
                class="cursor-pointer border-circle bg-bluegray-100 text-bluegray-500 block inline-flex justify-content-center align-items-center mr-5"
                style="width: 2.5rem; height: 2.5rem;"><i class="pi pi-facebook"></i></a><a
                class="cursor-pointer border-circle bg-bluegray-100 text-bluegray-500 block inline-flex justify-content-center align-items-center"
                style="width: 2.5rem; height: 2.5rem;"><i class="pi pi-github"></i></a></div>
        <div class="text-center"><a class="mr-5 text-sm text-600 cursor-pointer">Politicas de privacidad</a><a
                class="text-sm text-600 cursor-pointer">Terminos y condiciones</a></div>
    </div>
</div>
